<div>
  <div *ngIf="orderHistory !== null && orderHistory.length > 0; else loading" class="list-group">
    <div *ngFor="let item of orderHistory" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Order ID: {{item.id}}</h5>
        <small>{{item.date}}</small>
      </div>
      <ul>
        <li *ngFor="let el of item.items">{{el.amount}} x {{el.name}} - {{el.price | currency:'USD':symbol}}</li>
      </ul>
      <small>Total price: {{item.price | currency:'USD':symbol}}</small>
    </div>
  </div>
  <ng-template #loading>
    <p class="loading text-center" *ngIf="orderHistory !== null, else noHistory">Loading...</p>
  </ng-template>
  <ng-template #noHistory>
    <p class="information text-center">No history yet</p>
  </ng-template>
</div>
